<!doctype html>
<html lang="es">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>APP EMPRESAS</title>
    <!-- Cargar el CSS de Boostrap-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Cargar estilos propios -->
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <!-- Definición del menú -->
    <nav class="navbar navbar-expand-md navbar-danger    bg-danger   fixed-top">
        <a class="navbar-brand text-white"  target="_blank" href="http://70.35.194.45/">v1.1 - Cesar Segura </a>
        <button aria-label="Mostrar u ocultar menú" class="navbar-toggler" id="botonMenu" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/productos">Ver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/productos/agregar">Agregar</a>
                </li>
            </ul>
        </div>
    </nav>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            const menu = document.querySelector("#menu"),
                botonMenu = document.querySelector("#botonMenu");
            if (menu) {
                botonMenu.addEventListener("click", () => menu.classList.toggle("show"));
            }
        });
    </script>
    <!-- Termina la definición del menú -->
    <main role="main" class="container">
        <div class="row">